@import "/src/styles/variables.scss";

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: $--red;
    font-weight: 600;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
    color: $--grey;
    font-weight: 500;
  }

  a {
    text-align: center;
    background-color: $--red;
    padding: 16px 45px;
    color: $--white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 50px;
  }
}

.name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .FAQ {
    @media (max-width: 1097px) {
      width: 100%;
    }
    @media screen and (min-width: 1600px) {
      width: 50%;
    }
    h2 {
      margin-bottom: 30px;
      flex-wrap: nowrap;
      @media (max-width: 1097px) {
        text-align: center;
      }
    }
    &__item {
      display: flex;
      justify-content: space-between;

      padding: 28px 46px;
      text-align: center;
      display: flex;

      gap: 30px;
      box-shadow: 0px 0px 20px 0px $--box-shadow-color;
      margin-bottom: 20px;
    }
  }
}

.form {
  height: 100%;
  width: 25%;
  @media (max-width: 1097px) {
    width: 75%;
    margin: auto;
  }
  @media screen and (min-width: 1600px) {
    width: 40%;
  }
  h2 {
    @media (max-width: 1097px) {
      text-align: center;
    }
    display: block;
    margin-bottom: 30px;
  }
  form {
    @media (max-width: 1097px) {
    }

    padding: 20px 36px;
    box-shadow: 0px 0px 20px 0px $--box-shadow-color;
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 5px;
      border: none;
      border-bottom: 1px solid $--red;
      margin-bottom: 20px;
      padding: 4px 0;
      height: 30px;
    }
    .form__input_comment {
      text-align: justify;
      height: 120px;
    }
    .form__input_submit {
      text-align: center;
      margin: auto;
      max-width: 500px;
      background-color: $--red;
      width: 100%;
      color: $--white;
    }
  }
}


.reviews{
  h2{
    margin-bottom: 13px;
  }
    &__items{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
    }
}