@import "/src/styles/variables.scss";
.favourite{
    &__title{
        text-align: center;
        margin-bottom: 12px;
    }
    &__topButton{
        text-align: right;
        border: none;
        color: $--red;
        background-color: $--white;
        font-size: medium;
        cursor: pointer;

    }
    &__items{
        text-align: center;
        
    }

    &__none{
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);

        h3{
          width: 100%;
        }
      }
}

.margin{
    margin-bottom: 520px;
}