@import "/src/styles/variables.scss";

.cart {
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    button {
      border: none;
      background-color: $--white;
      color: $--red;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }
  }
}
