@import "/src//styles//variables.scss";

.hero{
    position: relative;
    margin-bottom: 100px;
    &__img{
        width: 100%;
        height: 10%;
    }

    &__form{
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);

        background-color: #fff;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);

        width: 600px;
        height: 140px;

        display: flex;
        justify-content: center;
        align-items: center;

        div{
            position: relative;

            div{
                color: $--red;
                margin-bottom: 4px;
                font-weight: 700;
            }

            input{
                width: 400px;
                height: 34px;
                border-radius: 0px;

                padding-left: 10px;

                border: 2px solid $--red;
            }

            input:focus-visible{
                outline: none;
                border-color: $--red-hover;
            }

            img{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);

                width: 20px;
                height: 20px;
            }

            img.active{
                display: none;
            }
        }
    }
}

.container{
    margin-top: 100px;

    .categoriesContainer{
        &__title{
            font-size: 32px;
            font-weight: 600;
        }
        &__categories{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            &_category{
                div:nth-child(1){
                    position: relative;
                    overflow: hidden;
                    button{
                        transition: 0.3s;

                        position: absolute;
                        z-index: 999;
                        bottom: -50px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 26px;

                        color: #fff;
                        border: none;
                        background-color: $--red;

                        

                        cursor: pointer;
                    }
                    button:hover{
                        background-color: $--red-hover;
                        font-weight: 600;
                    }
                }
                div:nth-child(1):hover{
                    button{
                        transition: 0.3s;
                        bottom: 0;
                    }
                }
                div:nth-child(2){
                    font-weight: 600;
                }
            }
        }
        
        &__allCategories{
            display: flex;
            justify-content: center;
            align-items: centere;

            text-decoration: none;

            margin-top: 20px;

            button{
                transition: 0.3s;

                color: #fff;
                background-color: $--red;
            
                border: none;

                width: 140px;
                height: 30px;

                cursor: pointer;
            }

            a:hover{
                button{
                    transition: 0.3s;
                    font-weight: 600;
                    background-color: $--red-hover;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .categoriesContainer{
        &__categories{
            &_category{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .hero{
        &__form{
            width: 400px;
            height: 100px;
            div{
                input{
                    width: 224px;
                    height: 34px;
                }
        }   }
    }
}

@media screen and (max-width: 500px) {
    .hero{
        &__form{
            bottom: -40px;

            width: 300px;
            height: 80px;
            div{
                input{
                    width: 224px;
                    height: 34px;
                }
        }   }
    }

    .container{
        margin-top: 100px;
    
        .categoriesContainer{
            
            &__title{
                display: flex;
                justify-content: center;
            }
            &__categories{
                gap: 25px;
                &_category{
                    &_title{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}