@import "/src/styles/variables.scss";

.card {
  box-shadow: 0px 0px 20px 0px $--box-shadow-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
  }
  &__nameAndDescription {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 30%;
    &_name {
      color: $--black;
    }
    &_description {
      color: $--grey;
    }
  }
  &__qty {
    display: flex;
    flex-direction: row;
    button {
      text-align: center;
      width: 40px;
      height: 30px;
      border: 1px solid $--grey-cart-btns;
      cursor: pointer;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      border: 1px solid $--grey-cart-btns;
    }
    
  }
  &__price {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: $--black-font-color-cart;
  }
}
