@import "/src/styles/variables.scss";

.FAQ__item {
    &_container{
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 28px 46px;
      text-align: center;
      display: flex;

      gap: 30px;
      box-shadow: 0px 0px 20px 0px $--box-shadow-color;
      margin-top: 20px;

      p{
        font-weight: 600;
      }

      &_img{
        transition: 0.3s;
        cursor: pointer;
      }
      &_img.active{
        transition: 0.3s;
        transform: rotate(-180deg);
      }
    }

    &_desc{
      transition: 0.5s;

      transform:scale(100%);

      padding: 90px 46px;
      text-align: center;
      display: none;

      gap: 30px;
      box-shadow: 0px 0px 20px 0px $--box-shadow-color;

      font-weight: 600;
    }
    &_desc.active{
      transition: 0.5s;
      display: flex;
      justify-content: space-between;
    }
}