@import "/src/styles/variables.scss";

.responseCard{
    margin-bottom: 10px;
    width: 23%;
    box-shadow:  0px 0px 20px 0px $--box-shadow-color;
    padding: 10px;
    &__date{
        color: $--grey;
        margin-bottom: 15px;
        @media (max-width: 400px) {
            font-size: 9px;
        }
        @media (max-width:590px) {
            font-size: 12px;
        }
    }

    &__author{
        color: $--red;
        margin-bottom: 3px;
        @media (max-width: 600px) {
            font-size: 20px;
        }
        @media (max-width:500px) {
            font-size: 17px;
        }
        @media (max-width: 410px) {
            font-size: 14px;
        }
        @media (max-width:360px) {
            font-size: 13px;
        }
    }
    &__stars{
        img{
            @media (max-width:400px) {
                width: 20%;
            }
        }
    }
   
    &__description{
        color: $--red-hover;
        margin-bottom: 15px;
        @media (max-width:600px) {
            font-size: 12px;
        }
        @media (max-width: 500px) {
            font-size: 9px;
        }
        @media (max-width:400px) {
            font-size: 7px;
        }
        @media (max-width:360px) {
            font-size: 6px;            
        }
    }

    &__link{
        display: inline-block;
        text-decoration: none;
        padding: 9px 0;
        border: 1px solid $--black-border;
        width: 100%;
        transition: 0.3s;
        &:hover{
            transition: 0.3s;
            color: $--white;
            background-color: $--grey-hover;
            border: 1px solid $--grey-hover;
        }
        text-align: center;
        color: $--grey;
        @media (max-width: 450px) {
            font-size: 12px;
        }
        @media (max-width: 360px) {
            padding: 4px 0;
            font-size: 9px;
        }
    }


}