@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");
@import "/src//styles//variables.scss";

.header {
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: $--main-font;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .Logo {
    text-decoration: none;
    color: $--red;
    font-size: 32px;
    font-weight: 700;

    font-family: 'M PLUS 1p', sans-serif !important;
  }

  nav {
    ul {
      list-style: none;

      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 450px;
      li {
        transition: 0.2s;
        a {
          text-decoration: none;
          color: $--red;
          font-weight: 500;
        }
      }

      li:hover {
        transition: 0.2s;

        a {
          color: $--red-hover;
        }
      }
    }
  }

  div {
    display: flex;
    align-items: center;

    gap: 26px;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 22px;
      height: 20px;

      cursor: pointer;
    }

    a {
      display: flex;
      align-items: center;
    }

    .btnHolder {
      button {
        background-color: $--red;
        border: none;
        color: #fff;

        width: 140px;
        height: 32px;

        transition: 0.2s;

        cursor: pointer;
      }

      button:hover {
        transition: 0.2s;
        font-weight: 600;
        background-color: $--red-hover;
      }
    }
  }

  .burger {
    height: 26px;
    width: 38px;
    position: relative;

    cursor: pointer;

    margin-right: 4px;

    display: none;

    z-index: 1000;
  }

  .burger :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $--red;
    transition: 0.5s;
  }

  .burger :nth-child(2) {
    position: absolute;
    top: calc(25.9px / 2 - 2px / 2);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $--red;
    transition: 0.5s;
  }

  .burger :last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $--red;
    transition: 0.5s;
  }

  .burger.active :first-child {
    transform: rotate(45deg);
    top: calc(50% - 2px);
    transition: 0.5s;
  }

  .burger.active :nth-child(2) {
    display: none;
    transition: 0.5s;
  }

  .burger.active :last-child {
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
    transition: 0.5s;
  }

  .mobileMenu {
    display: none;

    position: fixed;
    z-index: 999;

    top: 0;

    transform: translateX(350vh);

    transition: 0.3s;

    width: 100%;
    height: 100%;

    background-color: #fff;
  }

  .mobileMenu.active {
    transform: translateX(0);

    transition: 0.3s;
  }
}

.cart{
  position: relative;

  

  &__show{
    display: none !important;
    justify-content: center;
    align-items: center;

    position: absolute;

    background-color: $--red;
    color: $--white;

    width: 16px;
    height: 16px;

    font-size: 12px;

    border-radius: 50%;

    left: -5px;
    top: -5px;
  }
}

.showCounter{
  display: flex !important;
}

@media screen and (max-width: 1000px) {
  .header > nav {
    display: none !important;
  }

  .header {
    .btnHolder {
      display: none !important;
    }

    .burger {
      display: block;
    }

    .btnHolder {
      display: flex;
    }

    .mobileMenu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mobileBtnHolder {
        display: block !important;

        button {
          width: 200px;
          height: 40px;

          font-size: 24px;
        }
      }

      &__nav {
        ul {
          flex-direction: column;
          justify-content: center;

          gap: 14px;
          li {
            width: 100%;
            height: 100%;

            a {
              display: flex;
              justify-content: center;

              font-size: 32px;

              width: 100%;
              height: 100%;
            }
          }

          li:hover {
            background-color: $--red;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
