@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
@import "/src//styles//variables.scss";

.footer{
    background-color: $--black;
    color: $--white;

    a{
        text-decoration: none;
        color: $--white;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        height: 500px;
        .Logo{
            text-decoration: none;
            font-size: 32px;
            font-weight: 700;
            color: $--white;
    
            font-family: 'M PLUS 1p';
        }
    
        .title{
            font-size: 18px;
            font-weight: 700;
        }
    
        .locations{
            ul{
                list-style: none;
                margin-top: 10px;
                li{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
    
                    }
    
                    div{
    
                    }
                }
                li:nth-child(2){
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }

        nav{
            ul{
                list-style: none;

                display: flex;
                flex-direction: column;
                gap: 24px;
                li{
                    a{
                        color: $--white;
                    }
                }
                li:hover{
                    a{
                        color: #d3d1d1;
                    }
                }
            }
        }

        .Info{
            &__contact{
                margin-bottom: 20px;
                &_title{
                    margin-bottom: 20px;  
                }
                &_container div{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
                &_container div:nth-child(1){
                    margin-bottom: 10px;
                }
            }
            &__socials{
                margin-top: 20px;
                div:nth-child(2){
                    margin-top: 10px;
                    a:nth-child(2){
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .footer{
        height: 700px;
        .container{
            flex-direction: column;

            .Logo{
                margin-top: 30px;
            }
        
            .locations{
                &__title{
                    display: flex;
                    justify-content: center;

                    margin-top: 20px;
                }
            }
    
            nav{
                margin-top: 40px;
                ul{
                    li{
                        a{
                            display: flex;
                            justify-content: center;
                        }     
                    }
                }
            }
    
            .Info{
                margin-top: 50px;
                &__contact{
                    margin-bottom: 20px;
                    &_title{
                        display: flex;
                        justify-content: center;
                    }
                }
                
                &__socials{
                    margin-top: 20px;
                    &_title{
                        display: flex;
                        justify-content: center;
                    }

                    div:nth-child(2){
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        
        }
    }
}